{% extends 'base.html' %}
{% block content %}

{% block title %}
    profile
{% endblock %}
 {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
            <img src="{{ post.image.url }}" width="200" alt="{{ post.title }}">
            <a href="/profile/{{ post.id }}/">View Details</a> 
            <a href="/profile/{{ post.id }}/edit/">Edit Profile</a>
            <a href="/profile/{{ post.id }}/delete/">Delete Profile</a>
        </div>
    {% endfor %}

{% endblock %}



   
