<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Sign Up</button>
    </form>

    {% for message in messages %}
        {% if message.tags == 'success' %}
            <p style="color: green;">{{ message }}</p>
        {% elif message.tags == 'error' %}
            <p style="color: red;">{{ message }}</p>
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
    {% endfor %}
</body>
</html>